
<h1> Details of <%= @blog.title %> </h1>

Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <%= @blog.title %> <br/><br/>
Description &nbsp; <%= @blog.description %> <br/><br/>

<%= link_to "show all blogs", "/" %>



